

  <!-- POST -->
  <div class="post">
    <%= simple_form_for @question,  html:{class:"form newtopic"} do |f| %>
      <div class="topwrap">
        <div class="posttext">
          <div>
            <%= f.input :name, placeholder:"Enter Topic Title", input_html: { class: 'form-control' }, label: false  %>
          </div>
            <div>
             <%= f.association :category, collection: current_user.categories.pluck(:name, :id), input_html: {class: 'form-control'}, label: false, prompt: "Select your Category" %>
            </div>
          <div>
            <%= f.input :body, input_html: {class: 'form-control', id: 'desc'}, label: false, placeholder:"Description" %>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="postinfobot">

        <div class="notechbox pull-left">
          <%= f.input :send_mail,  input_html: {class: 'form-control', id: 'desc', style: 'margin-bottom: 0px'}, label: false %>
        </div>

        <div class="pull-left">
          <label for="note"> Email me when some one post a reply</label>
        </div>

        <div class="pull-right postreply">
          <div class="pull-left smile"><a href="#"><i class="fa fa-smile-o"></i></a></div>
          <div class="pull-left"><button type="submit" class="btn btn-primary">Post</button></div>
          <div class="clearfix"></div>
        </div>


        <div class="clearfix"></div>
      </div>
    <% end %>
  </div><!-- POST -->

  <div class="row similarposts">
    <div class="col-lg-10"><i class="fa fa-info-circle"></i> <p>Similar Posts according to your <a href="/">Topic Title</a>.</p></div>
    <div class="col-lg-2 loading"><i class="fa fa-spinner fa-pulse"></i></div>

  </div>
<div class="similarquestion">
 <%= render partial: 'questions/similar' %>
</div>
