<%= simple_form_for(@question, html: {class: 'form-horizontal' }) do |f| %>
  <% if @question.errors.any? %>
        <div id="error_explanation">
      <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @question.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group error-holder">
      <div class="col-lg-10">
        <%= f.text_field :name, :class=>"form-control question-title", :placeholder=>"What is your programing question be specific?", :label =>false %>
      </div>
    </div>

    <div class="form-group">
      <div class="col-lg-12">
        <div class="form-header md_editor">
          <nav>
            <a href="#insert_strong" id="add_strong" ><i class="glyphicon glyphicon-bold"></i></a>
            <a href="#insert_em" id="add_em"><i class="glyphicon glyphicon-italic"></i></a>
            <a href="#insert_link" id="add_link"><i class="glyphicon glyphicon-link"></i></a>
            <a href="#insert_ol" id="add_ord_list"><i class="glyphicon glyphicon-list" ></i></a>
            <a href="#insert_code" id="insert_code"><i class="glyphicon glyphicon-chevron-left"></i><i class="glyphicon glyphicon-chevron-right"></i></a>
            <a href="#"><i class="glyphicon glyphicon-question-sign help-toggle"></i></a>
          </nav>
          <div class="editing-help">
            <p>To create code blocks or other preformatted text, indent by four spaces, highlight the code  and click on the code icon <b>< ></b></p>
            <p>This will be displayed in a monospaced font. The first four spaces</p>
            <p>will be stripped off, but all other whitespace will be preserved.</p> </br>

            <p>Markdown and HTML are turned off in code blocks:</p>
            <p><i>This is not italic</i>, and [this is not a link](http://example.com)</p>
          </div>
        </div>
        <%= f.text_area :body, :class=>"form-control post_form", rows:10 %>
      </div>
    </div>

    <%= f.input :tag_list, :label => "Select Tags (must be more than two)", "data-pre" => @question.alltags.map { |tag| tag.name}.to_json  %>

       <br /><br />
        <%= f.check_box :send_mail %>
         <%= f.label :send_mail, "Send me new responses of my posts via email (settings)" %>

    <br />

  <div class="form-group">
   <%= f.submit "Post your Question", :class=>"btn btn-primary" %>
  </div>
<% end %>


