<div class="toolbar">
  <div class="toolbar-inner">
    <a href="/" class="link"><i class="glyphicon glyphicon-credit-card darkgray "></i></a>
    <a href="/users" class="link"><i class="glyphicon glyphicon-user darkgray blue"></i></a>
    <a href="/tags" class="link"><i class="glyphicon glyphicon-tag darkgray"></i></a>
    <a href="#" data-popover=".popover-menu" class="open-popover link "><i class="glyphicon glyphicon-tasks darkgray"></i></a>
  </div>
</div>

      <% if @question.new_record? %>
      <div class="page-content login-screen-content">

        <div class="list-block">
          <div class="list-block-label">
            <p>After asking do not forget to help others with their own question thank you.</p>
          </div>
        </div>
        <% end %>

        <%= form_for(@question) do |f| %>

            <% if @question.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@question.errors.count, "error") %> prohibited this question from being saved:</h2>

                  <ul>
                    <% @question.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>

          <div class="list-block">
            <ul>
              <li class="item-content">
                <div class="item-media"><i class="glyphicon glyphicon-question-sign"></i></div>
                <div class="item-inner">
                  <div class="item-title label">Ask question</div>
                  <div class="item-input">
                    <%= f.text_field :name, :placeholder=>"Question name" %>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media"><i class="glyphicon glyphicon-text-height"></i></div>
                <div class="item-inner">
                  <div class="item-title label"> Write Question</div>
                  <div class="item-input">
                    <%= f.text_area :body, placeholder:"Your Question"  %>
                  </div>
                </div>
              </li>
              <li class="item-content">
                <div class="item-media"><i class="glyphicon glyphicon-compressed"></i></div>
                <div class="item-inner">
                  <div class="item-title label"> Select Category</div>
                  <div class="item-input">
                    <%= f.collection_select :category_id, Category.all, :id, :name   %>
                  </div>
                </div>
              </li>

              <li class="item-content">
                <div class="item-media"><i class="glyphicon glyphicon-tags"></i></div>
                <div class="item-inner">
                  <div class="item-title label">Add tags</div>
                  <div class="item-input">
                    <%= f.text_field :tag_list, placeholder:"Tag you question", "data-pre" => @question.alltags.map { |tag| tag.name}.to_json  %>
                  </div>
                </div>
              </li>



              <li class="item-content">
                <div class="item-media"><i class="glyphicon glyphicon-inbox"></i></div>
                <div class="item-inner">
                  <div class="item-title label">Receive mail?</div>
                  <div class="item-input">
                    <label class="label-switch">
                      <%= f.check_box :send_mail %>
                      <div class="checkbox"></div>
                    </label>
                  </div>
                </div>
              </li>

            </ul>
          </div>
            <div class="content-block users-content-block">
              <div class="row">
                <div class="col-50"><button  class="button active">Post Question</button></div>
                <div class="col-50"><a href="/questions/new" class="button ">Reset</a></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <% title "Ask Question" %>











