<div class="ui stackable container three column grid left-menu">
  <div class="eleven wide column">
   <div class="ui card fluid">
    <div class="ui link content">
      <div class="ui feed">
        <div class="event">
          <div class="label">
            <%= link_to (image_tag @question.user.avatar.url(:thumb)), @question.user %>
          </div>
          <div class="content">
            <div class="date">
              Posted on : <%= (@question.created_at).strftime("%-d %b @ %-l:%M%P") %>, <%= pluralize @question.views, "view"  %>
            </div>
            <div class="summary" style="font-size: smaller; color: #676868;">
               <%= link_to  (@question.user.fullname? ? @question.user.fullname : @question.user.username), user_path(@question.user) %>,  <%=   @question.user.intrest %>
               <%= pluralize @question.user.followers.count, "followers" %>, interested in <%=  @question.user.categories.map{|a| a.name }.take(3).join(", ").html_safe %>
            </div>
          </div>
        </div>
      </div>

        <div class="content">
          <h1><%= (@question.name) %></h1>
          <div class="description answer">
             <%=image_tag (@question.picture.url(:thumb)), class: "question-title" if @question.picture.present? %>
             <%=  markdown(@question.body).html_safe %>
          </div>
          <!-- comment start -->
            <div class="ui comments">
              <div id="first-comments"></div>
              <% if @question.comments.present? %>
              <h4 class="ui horizontal text-center divider header">Comments</h4>
                  <div id="comments">
                     <%= render @question.comments %>
                  </div>
              <% end %>
            <div id="comment-form"></div>
          </div>
          <!-- comment ends -->
        </div>
      </div>
      <div class="extra content">
        <span class="left floated like">
           <%= allow_ajax_only_if_user_is_signin_for_upvote_question(@question) %>
            <span id='vote-count-<%= @question.id %>' class='vote-count'><%= @question.votes %></span>
           <%= allow_ajax_only_if_user_is_signin_for_downvote_question(@question) %>

          <% if current_user.present? %>

           &nbsp;  &nbsp; <%= link_to " Add a comment", new_comment_path(:comment => { :commentable_type => @question.class.name,
                         :commentable_id => @question.id}),
                         :remote => true,
                         :class => "comment_link",
                         id:"comment_link"  %>
          <% end %>
        </span>
        <span class="right floated" style="margin-top: 8px;">
          <span><i class="share alternate icon-size icon share-caller" id='modal-setting' data-id="<%= @question.id %>" data-question='{ name: "<%= @question.name %>", url: "<%= question_url(@question) %>", user: "<%= @question.user.fullname %>"}'></i></span>
          <%= link_to "<i class='#{@question.favourited?(current_user)? 'star icon icon-size red' : 'star gray icon-size  icon' if current_user }'></i> ".html_safe, toggle_favourite_path(@question.id), :method => "post",  :remote => true %>
        </span>
      </div>
    </div>



        <%= render "answers/form" %>


    <% if @question.answers.present? %>
      <h4 class="ui horizontal divider header dash_header">Answers</h4>
      <!-- Answer start   -->
      <div class="answer-post">
         <%= render :partial => @question.answers %>
      </div>
    <% end %>
   </div>


  <div class="four wide column">
    <p class="side-label">Share this question</p>
    <div class="ui tiny horizontal list">
      <a class="item" target="_blank" href="https://www.facebook.com/dialog/share?app_id=484766111702543&href=<%= question_url(@question) %>&redirect_uri=http://www.onozor.com">
        <i class=" big facebook icon"></i>
      </a>
      <a class="item" target="_blank" href="https://twitter.com/share?url=<%= question_url(@question) %>&text=<%= @question.name %>">
        <i class=" big twitter icon"></i>
      </a>
      <a class="item" target="_blank" href="https://plus.google.com/share?url=<%= question_url(@question) %>">
        <i class=" big google plus square icon"></i>
      </a>
      <a class="item" target="_blank" id="reddit" href="http://www.reddit.com/submit?url=<%= question_url(@question) %>&title=<%= @question.name %>">
        <i class="reddit big icon"></i>
      </a>
    </div>


    <!-- <button class="big ui button ask-some-one-button">Ask someone you know</button> -->

    <div class="ui items">
    <p class="side-label"><i class="browser icon"></i>
    Question you may like</p>

    <div class="ui list you-may-like">
      <% @similar_question.each do |question|%>
       <%= link_to question.name, question, class:"item" %>
      <% end %>
    </div>

    <div class="ui tiny horizontal list">
      <p align='left' style="margin-top: 20px;">2016 · Onozor · LinearBytes Inc.</p>
      <a style='margin-left: 0px' class="item">About</a>
      <a class="item">Careers</a>
      <a class="item">Terms</a>
      <a class="item">Privacy</a>
    </div>
  </div>

</div>
<%= render :partial => "questions/share_modal" %>
<script type="text/javascript">
  var simplemde = new SimpleMDE({toolbar: ["bold", "italic", "heading", "|", "quote", "code", "image", "link", "|", "unordered-list", "ordered-list", "|", "preview"], autosave: { enabled: true, uniqueId: true }});
</script>
