<!-- POST -->
<div class="post">
  <div class="topwrap">
    <div class="userinfo pull-left">
      <div class="avatar">
        <%= link_to (image_tag @question.user.avatar(:thumb)), @question.user %>
        <% if @question.user.is_online? %>
            <div class="status green">&nbsp;</div>
        <% else %>
            <div class="status red">&nbsp;</div>
        <% end %>
      </div>
      <%= link_to  @question.user.username.titleize, @question.user %>
    </div>
    <div class="posttext pull-left">
      <h2><%= (@question.name) %></h2>
      <p><%=raw markdown(@question.body) %></p>
      <% if @question.comments.present? %>
          <div id="comments" class="comments">
            <%=pluralize @question.comments.count, "comment"  %>
              <%= render @question.comments %>
          </div>
      <% end %>
      <%= link_to "Add comment".html_safe, new_comment_path(:comment => { :commentable_type => @question.class.name,
                                                                                  :commentable_id => @question.id}),
                                                                                  :remote => true,
                                                                                  :class => "btn comment_link",
                                                                                  id:"comment_link" if current_user   %>
      <div id="comment-form"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="postinfobot">
    <div class="likeblock pull-left">
      <%= render :partial =>"questions/votebox" %>
    </div>
    <div class="prev pull-left">
      <a href="#"><i class="fa fa-reply"></i></a>
    </div>

    <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <%= (@question.created_at).strftime("%-d %b @ %-l:%M%P") %></div>
       <% if current_user && @question.user == current_user || current_user.admin?  %>
        <div class="next pull-right">
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_question_path(@question) %>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, question_path(@question), method: :delete %>
        </div>
       <% end %>
    <div class="clearfix"></div>
  </div>
</div><!-- POST -->


<%= render :partial => @question.answers %>
<%= render "answers/form" %>


