<% title "#{@question.name}" %>
<% content "#{truncate @question.body, length: 150}" %>
<!-- POST -->
<div class="post row">
  <div class="topwrap">
    <div class="show-user-info">
      <div class="media">
        <div class="media-left">
          <%= link_to (image_tag @question.user.avatar.url(:thumb)), @question.user %>
        </div>
        <div class="media-body">
          <p class="media-heading"><%= link_to  (@question.user.fullname? ? @question.user.fullname : @question.user.username), user_path(@question.user) %></p>
          <p><%= pluralize @question.user.followers.count, "followers" %>, interested in <%=  @question.user.categories.map{|a| link_to a.name, a}.join(", ").html_safe %> <br />
              Posted on : <%= (@question.created_at).strftime("%-d %b @ %-l:%M%P") %>, <%= pluralize @question.views, "view"  %>
          </p>
        </div>
      </div>
    </div>
    <div class="posttext">
      <h1 class="show-question-title"><%= (@question.name) %></h1>
      <%=image_tag (@question.picture.url(:thumb)), class: "question-title" %>
      <p><%=raw markdown(@question.body) %></p>
      <% if @question.comments.present? %>
          <div id="comments">
            <p class="color-andela" id="comment-count"><%=pluralize (@question.comments.count), "comment"   %></p>
             <%= render @question.comments %>
          </div>
      <% end %>
      <div id="comment-form"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="postinfobot">
    <nav class="options">
      <%= allow_ajax_only_if_user_is_signin_for_upvote(@question) %>
      <%= allow_ajax_only_if_user_is_signin_for_downvote(@question) %>
      <% if current_user.present? %>
       <%= link_to " Add comment <i class='fa fa-comments'></i>+".html_safe, new_comment_path(:comment => { :commentable_type => @question.class.name,
                     :commentable_id => @question.id}),
                     :remote => true,
                     :class => "comment_link",
                     id:"comment_link"    %>
       <%  if user_signed_in? && @question.user == current_user  %>
        <div class="next pull-right">
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_question_path(@question) %>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, question_path(@question), method: :delete %>
        </div>
       <% end %>
    <% end %>
    </nav>

    <div class="clearfix"></div>
  </div>
</div><!-- POST -->

<div class="answer-post" id="answers-area">
    <%= render :partial => @question.answers %>
</div>

<%= render "answers/form" %>
<%= subscribe_to "/questions/#{@question.slug}" %>
