<!-- POST -->
<div class="post">
  <div class="topwrap">
    <div class="userinfo pull-left">
      <div class="avatar">
        <%= link_to (image_tag @question.user.avatar(:thumb)), @question.user %>
        <% if @question.user.is_online? %>
            <div class="status green">&nbsp;</div>
        <% else %>
            <div class="status red">&nbsp;</div>
        <% end %>
      </div>
      <%= link_to  @question.user.username.titleize, @question.user %>
    </div>
    <div class="posttext pull-left">
      <h2 class="color-andela"><%= (@question.name) %></h2>
      <p><%=raw markdown(@question.body) %></p>
      <% if @question.comments.present? %>
          <div id="comments">
            <p class="color-andela" id="comment-count"><%=pluralize (@question.comments.count), "comment"   %></p>
             <%= render @question.comments %>
          </div>
      <% end %>
      <div id="comment-form"></div>
    </div>
    <div class="clearfix"></div>
  </div>

  <div class="postinfobot">
    <div class="likeblock pull-left">
      <%= render :partial =>"questions/votebox" %>
    </div>
    <div class="prev pull-left">
    <%= link_to "<i class='fa fa-comments'></i>+".html_safe, new_comment_path(:comment => { :commentable_type => @question.class.name,
                                                                          :commentable_id => @question.id}),
                  :remote => true,
                  :class => "comment_link",
                  id:"comment_link" if current_user   %>
    </div>

    <div class="posted pull-left"><i class="fa fa-clock-o"></i> Posted on : <%= (@question.created_at).strftime("%-d %b @ %-l:%M%P") %></div>
       <%  if user_signed_in? && @question.user == current_user  %>
        <div class="next pull-right">
          <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_question_path(@question) %>
          <%= link_to "<i class='fa fa-trash'></i>".html_safe, question_path(@question), method: :delete %>
        </div>
       <% end %>
    <div class="clearfix"></div>
  </div>
</div><!-- POST -->

<div class="answer-post">
    <%= render :partial => @question.answers %>
</div>
<div class="alert alert-info">Post your Answer</div>
<%= render "answers/form" %>


