<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multiple: :true, :role=>"form" }) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited your account from being created:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
    <label for="exampleInputEmail1">Username</label>
      <%= f.text_field :username, class:"form-control" %>
  </div>
  <div class="form-group">
    <label>First name</label>
    <%= f.text_field :first_name, class:"form-control"   %>
  </div>

    <div class="form-group">
      <label>last name</label>
      <%= f.text_field :last_name, class:"form-control"   %>
    </div>

    <div class="form-group">
      <label>Gender</label>
      <%= f.select :gender,  [:Male, :Female], :prompt => 'Select Gender', class:"form-control"  %>
    </div>

    <div class="form-group">
      <label>Tell us about your self</label>
      <%= f.text_area :bio, class:"form-control", rows:"3" %>
    </div>

    <div class="form-group">
      <label>Interest</label>
      <%= f.text_field :intrest, class:"form-control" %>
    </div>

    <div class="form-group">
      <label>Occupation</label>
      <%= f.text_field :occupation, class:"form-control" %>
    </div>

    <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= f.text_field :email, class:"form-control", id:"exampleInputEmail1", placeholder:"Enter email"  %>
    </div>

    <div class="form-group">
        <label for="exampleInputFile">Profile Picture</label>
        <%= f.file_field :avatar, id:"exampleInputFile"  %>
        <p class="help-block">Please upload a profile picture Max (5mb).</p>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <br>
    <p>leave it blank if you don't want to change it</p>

    <div class="form-input">
        <label for="exampleInputEmail1">Change Password</label>
        <%= f.password_field :password, hint: "leave it blank if you don't want to change it", class:"form-control", id:"exampleInputEmail1", placeholder:"password" %>
    </div>

    <div class="form-inputs">
        <label for="exampleInputEmail1">confirmation Password </label>
        <%= f.password_field :password_confirmation, class:"form-control", id:"exampleInputEmail1", placeholder:"password" %>
    </div>


    <br>
    <p>Enter your password to update your account</p>

    <div class="form-inputs">
        <label for="exampleInputEmail1">Current Password</label>
        <%= f.password_field :current_password, hint: "we need your current password to confirm your changes",  class:"form-control", id:"exampleInputEmail1", placeholder:"current password", :required => true  %>
    </div>

<br />
  <%= f.submit "Update  Account", class:"btn btn-default" %>
<% end %>


