<div class="flow">
<h4>New to Inquire? sign-up</h4>
<hr>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited your account from being created:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inputs">
     <div class="form-group">
 <%= f.text_field :username, required: true, :label=> :false, :class=>"form-control", :placeholder=>"Username" %>
  </div>
</div>  

  <div class="form-inputs">
     <div class="form-group">
 <%= f.email_field :email, required: true, :label=> :false, :class=>"form-control", :placeholder=>"Email" %>
  </div>
</div>

   <% if f.object.password_required?  %>
     <div class="form-inputs">
          <div class="form-group">
       <%= f.password_field :password, required: true, :label=> :false, :class=>"form-control", :placeholder=>"Password" %>
      </div>
    </div>


        <div class="form-inputs">
          <div class="form-group">
       <%= f.password_field :password_comfirmation, required: true, :label=> :false, :class=>"form-control", :placeholder=>"Retype password" %>
      </div>
    </div>

      <div class="form-actions">
        <button class="btn btn-success">Sign up</button>

      </div>
     <% end %>
      <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
<% end %>
</div>


