<html>
    <body>
        <h3>Hi  <%= (@find_parent.user.fullname.titleize) %>, </h3>
        <p><%=  (@commenter.fullname.titleize)  %> posted a reply to your <%= @commentable_type.downcase %>.</p>
        <p>click the link below to reply:</p>
      <% if @commentable_type == "Question" %>
        <%= question_url (@find_parent) %>
      <% else %>
        <%= question_url (@find_parent.question) %>
      <% end %>
    </body>
</html>
