<div class="question-overlay"></div>
<% title "#{@user.username}" %>
<div class="toolbar">
  <div class="toolbar-inner">
    <a href="/" class="link"><i class="glyphicon glyphicon-credit-card blue"></i></a>
    <a href="/users" class="link"><i class="glyphicon glyphicon-user darkgray"></i></a>
    <a href="/tags" class="link"><i class="glyphicon glyphicon-tag darkgray"></i></a>
    <a href="#" data-popover=".popover-menu" class="open-popover link "><i class="glyphicon glyphicon-tasks darkgray"></i></a>
  </div>
</div>



<div class="timeline-mobile">

   <div class="profile-picture-mobile">

     <div class="picture-mobile">
       <%= image_tag @user.avatar.url(:medium), class:"profile-picture" %>
     </div>
     <p class="profile-user-name"><%= @user.username %></p>
   </div>
</div>

<div class="info-table">
   <table class="table-info" border="1">
     <tr>
       <td>
         <%= @user.questions.count %>
         <p>QUESTIONS</p>
       </td>
       <td>
         <%= @user.followed_users.count %>
        <P>FOLLOWING</P>
       </td>
       <td>
         <%= @user.followers.count  %>
         <P>FOLLOWERS</P>
       </td>
     </tr>
   </table>
</div>

<




<div class="list-block">
  <ul>
    <li>
      <a href="#" class="item-link item-content" onclick="myFunction()">
        <div class="item-inner">
          <div class="item-title">Questions</div>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="item-link item-content" onclick="myFollowings()">
        <div class="item-inner">
          <div class="item-title" >Following</div>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="item-link item-content" onclick="myFollowed()">
        <div class="item-inner">
          <div class="item-title" >Followers</div>
        </div>
      </a>
    </li>

    <li>
      <a href="#" class="item-link item-content" onclick="myFavorite()">
        <div class="item-inner">
          <div class="item-title" >Favorites</div>
        </div>
      </a>
    </li>
  </ul>
</div>


<div class="question-modal">
  <h4 class="modal-label">QUESTION</h4>
  <div class="list-block">
    <ul>
      <% @user.latest_questions.each do |q|  %>
          <li><%= link_to (q), class:"close-panel item-link"  do %>
                <div class="item-content">

                  <div class="item-inner">
                    <div class="link_name theme-red  item-title"><%= q.name %></div>
                    <div class="item-after"><span class="badge2" id="open-badge"><%= q.answers_count %></span></div>
                  </div>
                </div><% end %></li>
      <% end %>
    </ul>
  </div>

</div>

<div class="following-modal">
  <h4 class="modal-label">Following</h4>
  <div class="list-block">
    <ul>
      <% for q in @user.followed_users %>
          <li><%= link_to (q), class:"close-panel item-link"  do %>
                <div class="item-content">
                  <div class="item-media"> <%= image_tag q.avatar.url(:thumb), size:"34x34" %> </div>
                  <div class="item-inner">
                    <div class="link_name theme-red  item-title"><%= q.username %></div>

                  </div>
                </div><% end %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="followed-modal">
  <h4 class="modal-label">followers</h4>
  <div class="list-block">
    <ul>
      <% for q in @user.followers %>
          <li><%= link_to (q), class:"close-panel item-link"  do %>
                <div class="item-content">
                  <div class="item-media"> <%= image_tag q.avatar.url(:thumb), size:"34x34" %> </div>
                  <div class="item-inner">
                    <div class="link_name theme-red  item-title"><%= q.username %></div>
                  </div>
                </div><% end %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="favourite-modal">
  <h4 class="modal-label">Favourites</h4>
<div class="list-block">

  <ul>
    <% @user.favourite_questions.each do |q| %>
        <li><%= link_to (q), class:"close-panel item-link"  do %>
              <div class="item-content">

                <div class="item-inner">
                  <div class="link_name theme-red  item-title"><%= q.name %></div>
                  <div class="item-after"><span class="badge2" id="open-badge"><%= q.answers_count %></span></div>
                </div>
              </div><% end %></li>
    <% end %>
  </ul>
</div>
  </div>

<div class="info-table">
<table class="table-info" border="1">
  <tr>
    <td>
      <a href="/users/edit"><i class="glyphicon glyphicon-cog"></i></a>
      <p>Settings</p>
    </td>

    <td>
      <a href="/questions/advise"><i class="glyphicon glyphicon-plus"></i></a>
      <p>Add Question</p>
    </td>
  </tr>
</table>
</div>




<style>
    .question-modal, .following-modal, .favourite-modal, .followed-modal{
        width: 220px;
        max-height: 250px ;
        position: absolute;
        z-index: 6600000;
        left: 50%;
        margin-left: -110px;
        margin-top: 0;
        border-radius: 4px;
        top: 20%;
        display: none;
        background-color: #f7f7f8;
        -webkit-transform: translate3d(0, 0, 0) scale(1.185);
        -ms-transform: translate3d(0, 0, 0) scale(1.185);
        transform: translate3d(0, 0, 0) scale(1.185);
        -webkit-transition-property: -webkit-transform, opacity;
        -moz-transition-property: -moz-transform, opacity;
        -ms-transition-property: -ms-transform, opacity;
        -o-transition-property: -o-transform, opacity;
        transition-property: transform, opacity;
        overflow-y: auto;
        font-size: 10px;
    }







    .question-overlay {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 10000;
        -webkit-transition-duration: 400ms;
        transition-duration: 400ms;
        display: none;
    }

    .modal-label {
        text-align: center;
        /* position: fixed; */
        /* margin-top: 200px; */
        /* height: 3000px; */
        /* width: inherit; */
        font-size: small;
        padding: -19px;
        margin: 6px;
        /* z-index: 4000000000; */
    }




</style>




















