
  <!-- POST -->
  <%= div_for(answer) do %>
  <div class="post">
    <div class="topwrap">
      <div class="userinfo pull-left">
        <div class="avatar">
          <%= link_to image_tag(answer.user.avatar.url(:thumb)) %>
          <% if answer.user.is_online? %>
              <div class="status green">&nbsp;</div>
          <% else %>
              <div class="status red">&nbsp;</div>
          <% end %>
        </div>
        <%=link_to answer.user.username.titleize, answer.user %>
      </div>
      <div class="posttext pull-left" id="comment-form_<%= answer.id %>">
        <p><%= markdown(answer.body).html_safe %></p>
        <% if answer.comments.present? %>
            <div id="comments" class="comments">
                <%= render answer.comments %>
            </div>
        <% end %>

      </div>
      <div class="clearfix"></div>
    </div>
    <div class="postinfobot">

      <div class="likeblock pull-left">
        <% if current_user %>
            <%= link_to '<i class="fa fa-thumbs-o-up"></i>'.html_safe, vote_answer_path(answer.id, value: 1), method: "post", class:'vote-direction up', alt:'Up Vote' , remote: true %>
            <%=  answer.votes %>
            <%= link_to '<i class="fa fa-thumbs-o-down"></i>'.html_safe, vote_answer_path(answer.id, value: -1), method: "post", class:"down", remote: true %>
        <% end %>
      </div>

      <div class="prev pull-left">
        <%= link_to '<i class="fa fa-reply"></i>'.html_safe, new_comment_path(:comment => { :commentable_type => answer.class.name,
                                                                  :commentable_id => answer.id}),
                    :remote => true,
                    :class => "btn comment_link" %>
      </div>

      <div class="posted pull-left"><i class="fa fa-clock-o"></i>Posted on : <%= (answer.created_at).strftime("%-d %b @ %-l:%M%P") %></div>
    <% if current_user && answer.user == current_user    %>
      <div class="next pull-right">
        <%= link_to "<i class='fa fa-pencil'></i>".html_safe , edit_answer_path(answer.id), :remote => true   %>
        <%= link_to "<i class='fa fa-trash'></i>".html_safe , answer , :method => :delete, :remote=> true %>
      </div>
    <% end %>
      <div class="clearfix"></div>
    </div>
  </div><!-- POST -->
 <% end %>


























