

  <!-- POST -->
  <%= div_for(answer) do %>
  <div class="post row">
    <div class="topwrap">
        <div class="media">
          <div class="media-left">
            <%= link_to (image_tag answer.user.avatar.url(:thumb), class:'img-circle'), answer.user %>
          </div>
          <div class="media-body">
            <p class="media-heading"><%= link_to  (answer.user.fullname? ? answer.user.fullname : answer.user.username), user_path(answer.user) %></p>
            <p><%= pluralize answer.user.followers.count, "followers" %>, interested in <%=  answer.user.categories.map{|a| link_to a.name, a}.join(", ").html_safe %> <br />
                Posted on : <%= (answer.created_at).strftime("%-d %b @ %-l:%M%P") %>
            </p>
          </div>
        </div>


      <div class="answers" id="comment-form_<%= answer.id %>">
        <p><%= markdown(answer.body).html_safe %></p>
        <% if answer.comments.present? %>
            <div id="comments" class="comments" style="text-align: left">
                <%= render answer.comments %>
            </div>
        <% end %>

      </div>
      <div class="clearfix"></div>
    </div>


    <div class="postinfobot">
      <nav class="options">
        <%= link_to 'Accept answer', accepted_answer_question_path(answer_id: answer.id), class: 'accept', remote: true %>
        <%= link_to  "Upvote | <span id='answer-vote-count-#{answer.id}'>#{answer.votes}</sapn>".html_safe, vote_answer_path(answer.id, value: 1), method: "post", remote: true, class: 'btn btn-secondry btn-sm' %>
        <%= link_to  "Downvote", vote_answer_path(answer.id, value: -1), method: "post", remote: true %>
        <% if current_user.present? %>
         <%= link_to " Add comment <i class='fa fa-comments'></i>+".html_safe, new_comment_path(:comment => { :commentable_type => answer.class.name,
                       :commentable_id => answer.id}),
                       :remote => true,
                       :class => "comment_link",
                       id:"comment_link"    %>
         <%  if user_signed_in? && answer.user == current_user  %>
          <div class="next pull-right">
            <%= link_to "<i class='fa fa-pencil'></i>".html_safe, edit_answer_path(answer), :remote => true %>
            <%= link_to "<i class='fa fa-trash'></i>".html_safe, answer_path(answer), :remote => true, method: :delete %>
          </div>
         <% end %>
      <% end %>
      </nav>

      <div class="clearfix"></div>
    </div>

  </div><!-- POST -->
 <% end %>
