
<% if cannot? :create, :answers %>
      <p class="alert alert-danger">You have been banned from posting Answers.</p>
<% else %>
  <div class="field" style="position: relative;">
    <%= form_for @answer, class: 'ui reply form', data: { no_turbolink: true }, :remote => true do |f| %>
        <div class="ui mini message yellow error-message-answer"><i class="close icon"></i></div>
        <%= f.hidden_field :question_id  %>
        <%= f.hidden_field :user_id %>
        <%= f.text_area :body, :class=>"commnet-form", id:"mytextarea", placeholder: "Reply this question.." %>
        <%= f.submit (@answer.new_record? ? "Post Answer" : "Update Answer"), class:'blue ui secondary  button', id: 'question-submit-button' if current_user %>
    <% end %>

     <%= button_tag "Post Answer", class:'blue ui secondary  call-modal button', id: 'question-submit-button' unless current_user %>
  </div><!-- POST -->
<% end %>
