    <ul class="media-list">
<% current_user.invite_friends(current_user, @page).each do |user| %>
  <div class="media" id="invitee-<%= user.id %>">
    <div class="media-left">
        <%= link_to (image_tag user.avatar.url(:thumb), class: 'media-object'), user %>
    </div>
  <div class="media-body">
    <p class="media-heading"><%= link_to user.fullname, user %></p>
    <small><%= pluralize user.followers.count, "followers" %>, <%= pluralize user.questions.count, "question" %></small>
  </div>
    <div class="media-right">
      <%= link_to "Invite", page_invites_path(
                                               invitee_id: user.id,
                                               inviter_id: current_user.id,
                                               page_id: @page.id),
                                               class:"btn btn-sm pull-right btn-default",
                                               method: "POST",
                                               remote: :true
      %>
    </div>
<% end %>
  </div>
