<div class='answer-box' id='page-question-answer-<%= @answer.id %>'>
    <div class='page-question-answer'>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <%= image_tag @answer.user.avatar.url, class: 'media-object' %>
          </a>
        </div>
        <div class="media-body">
          <p class="media-heading"><strong><%= link_to @answer.user.fullname, @answer.user %></strong> 
            <%= @answer.body %></p>
            <small class='pull-right'><%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, answer_path(@answer), 
                 :remote => true, method: :delete %></li></small>
          <small><%= @answer.created_at.strftime("%B %-d at %-l:%M%P") %></small>  
        </div>
      </div>
    </div>
</div>