
<%= render partial: 'question_form' if current_user %>
<% @questions.each do |question| %>

   <%= content_tag_for(:div, question, class:'page-post') do  %>
    <div class='page-user-info clearfix'>
      <div class='avatar'>
        <%= image_tag question.user.avatar.url %>
      </div>
      <div class='page-user-name'>
       <%= link_to question.user.fullname, question.user %>
       <span><%= question.created_at.strftime("%B %-d at %-l:%M%P") %></span>
      </div>
      <% if current_user && current_user.is_the_owner?(current_user, question) %>
        <span class="dropdown pull-right">
            <a href="#" class=" dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <li><%= link_to "<i class='fa fa-trash'></i> Delete".html_safe, question_path(question), :remote => true, method: :delete %></li>

            <li><%= link_to "<i class='fa fa-pencil'></i> Edit".html_safe, edit_question_page_path(question), :remote => true %></li>
          </ul>
        </span>
      <% end %>
    </div>
    <div class='user-question-on-page' id='edit_question_<%= question.id %>-form'>
      <p><strong><%= question.name %></strong></p>
      <%= image_tag question.picture.url(:thumb) if question.picture.present? %>
      <p><%=raw markdown(question.body) if question.picture.present? %></p>
    </div>
    <div class='question-action'>
      <nav>
        <%= link_to  "<i class='fa fa-thumbs-up'></i> Upvote".html_safe, vote_question_path(question.id, value: 1), method: "post", remote: true %>

        <%= link_to  "<i class='fa fa-thumbs-down'></i> Downvote".html_safe, vote_question_path(question.id, value: -1), method: "post", remote: true %>

        <%= link_to "<i class='fa fa-comments-o'></i> Answer".html_safe,
            new_answer_pages_path(:question => {
           :question_id => question.id, :page_id => @page.id}),
           :remote => true,
           :class => "answer"
         %>
      </nav>
    </div>
     <%= render partial: 'question_answers', :locals => {:question => question} %>
   <% end %>
  <% end %>
</div>
</div>
