<div class='ask-form'>
<div class="list-group">
    <div href="#" class="list-group-item disabled">
      Ask <%= @page.name %>
    </div>
    <div class='inner-form'>
        <div class='col-md-12'>
          
          <%= form_for @question, url: questions_pages_path,  html: { class: 'form-horizontal', method: 'POST'}  do |f| %>  
            <div class="form-group">         
              <%= f.text_field :name, placeholder: "Enter your question" %>
              <%= f.hidden_field :questionable_type, placeholder: "Enter your question", value: 'Question' %>
              <%= f.hidden_field :page_id, value: @page.id %>
            </div>    
            <div class="form-group hide-description">    
             <textarea  id="inputEmail3" placeholder="Describe your question"></textarea>
            </div>
            <div class="form-group">  
              <div class="set-publish-button">
                <%= f.collection_select :category_id, Category.all, :id, :name, class: 'pull-left', prompt: "Select Category" %>
               <div class='pull-right'> 
                <i class='fa fa-camera add-picture'></i> &nbsp
                <%= f.file_field :picture %>
                <button type="submit" class="btn btn-primary">Submit</button>
               </div> 
              </div>
            </div>   
          <% end %>
        </div>
      </div>
  </div>
</div>