<div id="page-panel">
  <div class="container">
    <div class="row">
      <div class="col-md-9 page-background">
        <%= render partial: 'complete_page_info' %>
        <%= render partial: 'timeline' %>
        <div class='row'>
          <%= render partial: 'pages/page_left_info' %>
        </div>
        <div class='col-md-8 page-right-roll-bottom'>
          <%= render partial: 'pages/page_questions', collections: @page %>
        </div>

      <div class="col-md-2 page-analytics">
        <div class="list-group">
          <a href="#" class="list-group-item disabled">
            impression
          </a>
          <a href="#" class="list-group-item"><p class="analytics-number"><%= @page.view_count_yesterday %></p><p class="analytics">Yesterday</p></a>

          <a href="#" class="list-group-item"><p class="analytics-number"><%= @page.view_count_this_week %></p><p class="analytics">This week</p></a>

          <a href="#" class="list-group-item"><p class="analytics-number"><%= @page.view_count_for_the_month %></p><p class="analytics">This month</p>

          <a href="#" class="list-group-item"><p class="analytics-number"><%= @page.users.count %></p><p class="analytics">Page Likes</p></a>
        </a>
        </div>
      </div>
    </div>
  </div>
</div>