
    <%= form_for(resource,  url: session_path(resource_name), html: {class: "ui large form"}) do |f| %>
      <div class="ui stacked segment">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <%= f.email_field :email, required: true, :label=> :false, :class=>"form-control", :placeholder=>"E-mail address" %>
          </div>
        </div>
        <div class="field">
          <div class="ui left icon input">
            <i class="lock icon"></i>
            <%= f.password_field :password, required: true, :label=> :false, :class=>"form-control", :placeholder=>"Password" %>
          </div>
        </div>
        <%= f.submit "Login".html_safe, class: "ui fluid large teal submit button" %>

      </div>
      <%= link_to "Sign up", new_user_registration_path, class: "ui fluid basic large  submit button" %>
      
      <div class="ui error message"></div>

    <% end %>
