
<div class="ui stackable container one column grid left-menu">
  <div class="sixteen wide column">
    <div class="ui card  fluid">
      <div class="notification-label">
        <h1>Notifications</h1>
      </div>
    <% current_user.activities.each do |activity| %>
      <% if activity.trackable.present? %>
          <div class='<%= activity.seen? ? "notifications" : "notifications unseen" %>' >
            <%= div_for(activity, class: "foo") do %>
            <%= link_to '<i class="icon remove delete red"></i>'.html_safe, activity_path(activity.id), method: :delete, data: { inverted:"", tooltip:"Add users to your feed", position: "bottom left" } %>
                <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
            <% end %>
          </div>
      <% else %>
      <div class='<%= activity.seen? ? "notifications" : "notifications unseen" %>' >
        <div class="notifications">
             <%= link_to  activity.user.fullname.humanize, activity.user %> post <%= an_or_a(activity.trackable_type.downcase) %> <%=  activity.trackable_type.downcase %> to  which has since removed
             <%= link_to '<i class="fa fa-times red"></i>'.html_safe, activity_path(activity.id), method: :delete, class: 'pull-right' %>
          </div>
      </div>
      <% end %>
      <% end %>
    </div>
    </div>
</div>
