<h1>Listing alltags</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>User</th>
      <th>Question</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @alltags.each do |alltag| %>
      <tr>
        <td><%= alltag.name %></td>
        <td><%= alltag.description %></td>
        <td><%= alltag.user_id %></td>
        <td><%= alltag.question_id %></td>
        <td><%= link_to 'Show', alltag %></td>
        <td><%= link_to 'Edit', edit_alltag_path(alltag) %></td>
        <td><%= link_to 'Destroy', alltag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Alltag', new_alltag_path %>
