<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @alltag.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @alltag.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @alltag.user_id %>
</p>

<p>
  <strong>Question:</strong>
  <%= @alltag.question_id %>
</p>

<%= link_to 'Edit', edit_alltag_path(@alltag) %> |
<%= link_to 'Back', alltags_path %>
