<div class="three wide column computer tablet only">
  <div class="ui secondary fluid vertical pointing menu">
   <% if current_user %>
     <div class="ui fluid category  search">
      <div class="ui left icon input" style="margin-bottom: 15px;">
        <input class="prompt" type="text" placeholder="Add Category" style="box-shadow: 0 1px 2px 0 rgba(34,36,38,.15); width:100%; border: none; border-bottom: 1px solid #ccc !important; border-radius: 0px; height: 48px;">
        <i class="add plus icon"></i>
      </div>
     </div>
    <span class="user_category">
      <% current_user.categories.take(6).each do |category|  %>
            <%= link_to(category, class: 'item', remote: true) do  %>
              <%= image_tag category.image, class: 'category_image' %>
              <%= category.name %>
            <% end %>
      <% end %>
     </span>
     <% else %>
     <span class="user_category">
       <% Category.take(6).each do |category|  %>
           <%= link_to(category, class: 'item', remote: true) do  %>
             <%= image_tag category.image, class: 'category_image' %>
             <%= category.name %>
           <% end %>
       <% end %>
      </span>
     <% end %>
  </div>
  <% unless current_user %>
    <p style="font-size: 1.1em; color: #607D8B !important;">Don't stay behind. Hang out with smart people!</p>
    <button class="ui primary button call-modal"> Sign up </button>
  <% end %>
</div>
