<div class="ui secondary pointing menu">
  <%= link_to "All Question", root_path, class: 'item active' %>
  <%= link_to "Answered", answered_questions_path, class: 'item', remote: :true %>
  <%= link_to "Unanswered", unanswered_questions_path, class: 'item', remote: :true %>
  <%= link_to "Hot", hot_questions_path, class: 'item', remote: :true %>
  <div class="right menu">
    <div class="item">
      <%= link_to "<i class='comment icon'></i> Ask Question".html_safe, new_question_path, class:"ui teal button" %>
    </div>
  </div>
</div>

<div class="ui active centered loader-margin inline  loader" style="display: none"></div>
