<nav>
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#bs-navbar" aria-controls="bs-navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to root_path do %>
        <%= image_tag 'logo1.png', class:'navbar-brand resize-logo' %>
        <h3>Onozor</h3>
      <% end%>
    </div>
    <nav id="bs-navbar" class="collapse navbar-collapse">
    <%= form_tag questions_path, class:"navbar-form navbar-left", :method => 'get' do %>
      <div class="form-group  has-feedback">
        <%= text_field_tag :search,  params[:search], class:"form-control", placeholder:"Search Questions" %>
        <span class="fa fa-search form-control-feedback" style="margin-top: 10px;" aria-hidden="true"></span>
      </div>
    <% end %>


      <ul class="nav navbar-nav navbar-left col-sm-offset-10">
        <li><%= link_to "<i class='fa fa-list-alt'></i> HOME".html_safe, '/' %></li>
       <li><%= link_to "<i class='fa fa-info-circle'></i> ABOUT".html_safe, about_path %></li>
       <!-- <li><%#= link_to "<i class='fa fa-bell-o'></i> NOTIFICATIONS".html_safe %></li> -->
      </ul>

      <ul class="nav navbar-nav navbar-right">
       <% if user_signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <%= image_tag current_user.avatar.url(:thumb) %> <%=  current_user.username.titleize %> <span class="caret"></span></a>
          <ul class="dropdown-menu navbar-right">
            <li><%= link_to "<i class='fa fa-user'></i> My Profile".html_safe, user_path(current_user.username) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "<i class='fa fa-cog'></i> Settings".html_safe, edit_user_path(current_user.username) %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to "<i class='fa fa-sign-out'></i> Logout".html_safe, destroy_user_session_path, method: :delete %></li>
          </ul>
        </li>
        <% else %>
          <li><%= link_to "Signup", new_user_registration_path %></li>
          <li><%= link_to "Login", new_user_session_path %></li>
        <% end %>
      </ul>
      <% if current_user %>
        <a href="#"  class='btn  navbar-btn offset-2 topic-button pull-right' data-no-turbolink='true' data-toggle="modal" data-target="#ask-question">Ask a question</a>
     <% end %>
    </nav>
  </div>
</nav>
