
<div class="ui page grid" style="margin-top: 4rem !important;">
  <div class="ui top fixed small menu computer tablet only row" style="padding: 0px;">
    <div class="ui stacked container">
      <div class="align-logo">
        <%= link_to (image_tag ("logo-small.png"), width:"150px"), root_url, turbolinks: false %>
      </div>
      <div class="right menu">
        <div class="item large screen only">
          <%= form_tag questions_path, class:"navbar-form navbar-left", :method => 'get' do %>
          <div class="ui icon input">
            <%= text_field_tag :search,  params[:search], placeholder:"Search Questions" %>
            <i class="search link icon"></i>
          </div>
          <% end %>
        </div>
        <% if user_signed_in? %>
        <div class="item">
          <% if current_user.activities.unseen.count > 0 %>
          <span class="badge badge-danger">
            <%= current_user.activities.unseen.count  %>
          </span>
          <% end %>
          <%= link_to '<i class="bell big outline icon"></i>'.html_safe, activities_path %>
        </div>
        <div class="item">
          <%=link_to (image_tag current_user.avatar.url(:thumb), class:'ui mini circular image'), current_user  %>
          <i style="cursor: pointer;" class="big  sidebar icon"></i>
        </div>
        <% else %>
        <div class="item">
          <%= link_to "Login / Signup", new_user_registration_path, class: 'ui facebook button' %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% unless current_user %>
  <div class="ui stackable segment container site-intro desktop-only" >
    <div class="info-header">
      <h1>Your questions may lead to a new discovery!</h1>
        <div class="bottom-text">
          <h4>An open, friendly and conversational community for everyone</h4>
          <button class="ui button large   call-modal  basic button">Get Started Now</button>
      </div>
      </div>
    </div>
<% end %>




<div class="mobile-header mobile-only">
  <div class="header-wrap">
    <div class="left-column">
      <i style="cursor: pointer;" class="sidebar icon"></i>
      <%= link_to (image_tag ("http://res.cloudinary.com/sportbay-co/image/upload/c_crop/v1478176357/Favicon/apple-icon-60x60.png"), width:"35px", style: "border-radius: 100%"), root_url, turbolinks: false %>
    </div>
  <% if current_user %>
    <div class="right-column">
      <ul>
        <li><a href="#"><i class="icon search"></i></a></li>
        <li><%= link_to '<i class="bell outline icon"></i>'.html_safe, activities_path %></li>
        <li><%=link_to (image_tag current_user.avatar.url(:thumb), class:'ui mini circular image'), current_user  %></li>
      </ul>
    </div>
    <% else %>
    <div class="right-column">
      <ul>
        <li id="search-mobile"><a href="#"><i class="icon search" ></i></a></li>
        <li><a href="../users/sign_in"class="ui button teal  basic button">Sign in</a></li>
      </ul>
    </div>
    <% end %>
  </div>
  <div class="seach-holder">
    <%= form_tag questions_path, class:"form ui", :method => 'get' do %>

      <div class="ui right aligned category search">
      <div class="ui icon input">
        <%= text_field_tag :search,  params[:search], placeholder:"Search Onozor..",  class:"prompt"  %>
        <i class="search icon"></i>
      </div>
      <div class="results"></div>
    </div>
    <% end %>
  </div>
</div>


  <% unless current_user %>
    <div class="ui stackable segment  site-intro mobile-only" >
      <div class="info-header">
        <h1>Your questions may lead to a new discovery!</h1>
          <div class="bottom-text">
            <h4>An open, friendly and conversational community for everyone</h4>
            <button class="ui button large   call-modal  basic button">Get Started Now</button>
        </div>
        </div>
      </div>
  <% end %>
