

<div class="four wide column">
  <% if current_user %>
    <div class="ui card  fluid">
        <div class="content content-panel">
            <div class="header">Getting started
            </div>
            <p>You're <%= current_user.progress %>% closer to being an awesome Onozor.</p>
        </div>
        <div class="content">
            <div class="ui relaxed  list">
                <div class="item">
                    <div class="content">
                      <progress class="progressing" max="100" value="<%= current_user.progress %>"></progress>
                    </div>
                </div>
                <!-- <div class="item">
                    <div class="content">
                        <i class=" check circle icon <%= current_user.profile_progress.written_bio? ? 'green' : 'yellow' %>"></i>
                        <a class="">Creat your profile</a>
                    </div>
                </div> -->

                <div class="item">
                    <div class="content">
                        <i class="check circle icon <%= current_user.profile_progress.written_bio? ? 'green' : 'yellow' %>"></i>
                        <a class="">Write profile bio</a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <i class="check circle icon <%= current_user.profile_progress.asked_question? ? 'green' : 'yellow' %>"></i>
                        <%= link_to "Ask a question", new_question_path %>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <i class="check circle icon <%= current_user.profile_progress.voted_for_content? ? 'green' : 'yellow' %>"></i>
                        <a class="">Upvote content</a>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <i class="check circle icon <%= current_user.profile_progress.answered_question? ? 'green' : 'yellow' %>"></i>
                        <a href='#'>Answer question</a>
                    </div>
                </div>

                <div class="item">
                    <div class="content">
                        <i class="check circle icon <%= current_user.profile_progress.followed_someone? ? 'green' : 'yellow' %>"></i>
                        <a href='#'>Follow someone</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="ui card  fluid">
      <div class="content content-panel">
        <div class="header">People you may know </div>
      </div>
      <div class="content">
      <div class="ui middle aligned  list">
        <%  @people_to_follows.each do |user| %>
          <div class="item">
            <div class="right floated content">
              <% unless current_user.following?(user) %>
                <%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
                  <%= f.hidden_field :followed_id %>
                  <button class="compact ui button">Follow</button>
                <% end %>
              <% end %>
            </div>
            <%= (image_tag user.avatar.url(:thumb), class:'ui avatar image')  %>
            <div class="content">
              <%= link_to (truncate user.fullname.titleize, length: 13), user_path(user) %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
    </div>
<% end %>



    <div class="ui card  fluid">
        <div class="ui middle aligned selection list">
            <div class="item">
                <i class="idea icon"></i>
                <div class="content">
                    <a class="header">House of Rules</a>
                </div>
            </div>
            <div class="item">
                <i class="star icon"></i>
                <div class="content">
                    <a class="header">Request a Feature</a>
                </div>
            </div>
            <div class="item">
                <i class="gift icon"></i>
                <div class="content">
                    <a class="header">Refer a Friend</a>
                </div>
            </div>
            <div class="item">
                <i class="mail icon"></i>
                <div class="content">
                    <a class="header">Send Feedback</a>
                </div>
            </div>
        </div>
    </div>
</div>
