<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Onozor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css', "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag  "application", "data-turbolinks-track" => true %>
   </head>
  <body>

  <% if current_user %>
   <div class="ui sidebar right inverted vertical menu">
    <%= link_to "<i class='user icon'></i> Profile".html_safe, user_path(current_user), class: 'item' %>
    <%= link_to "<i class='bell icon'></i> Notifications".html_safe, activities_path, class: 'item' %>
    <%= link_to "<i class='settings icon'></i> Settings".html_safe, edit_user_path(current_user.username), class: 'item' %>
    <%= link_to "<i class='sign in  icon'></i> Logout".html_safe, destroy_user_session_path, method: :delete, class: 'item' %>
   </div>
  <% end %>
  <div class="pusher">
    <%= render partial: 'layouts/nav' %>
  <% unless current_user %>
    <div class="ui stackable ui tall stacked segment container one column top-header" >
      <div class="padding-settings">
        <h1 class="ui center aligned icon header dash_header" style="color: #fff; font-size: 32px;">

        </h1>
        <div class="ui stackable center aligned vertically  grid">
        <div class="eight wide  column">
          <h4>You are in the right place to help the children and everyone clear thier doubt</h4>
          <a class="ui large right call-modal labeled blue icon button" style='margin-top: 30px' href="#">
            <i class="right chevron icon"></i>
            Get Started Now
          </a>
          <div>
          <a class="ui small " style='color: #fff; line-height: 5' href="#">
            See 5 reason's why you need to Join   <i class="right chevron icon"></i>
          </a>
        </div>
        </div>
      </div>
     </div>
    </div>
<% end %>
<div class="ui stackable container three column grid left-menu">
  <%= render :partial => "layouts/app_sidenav" %>
  <div class="nine wide column">
    <%= render :partial => 'layouts/mini_nav' %>
    <%= yield %>
  </div>

    <%= render partial: 'layouts/rightpanel' %>
    <%= render partial: 'layouts/modal' %>
</div>

</div>
  </body>
</html>
