<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Onozor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
      <%= csrf_meta_tags %>
      <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css', "application", media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag  "application", "data-turbolinks-track" => true %>
      <link rel="apple-touch-icon" sizes="57x57" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="60x60" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="72x72" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="76x76" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="114x114" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="120x120" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="144x144" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="152x152" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/apple-icon-180x180.png">
      <link rel="icon" type="image/png" sizes="192x192"  href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/android-icon-192x192.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="96x96" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/favicon-96x96.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://res.cloudinary.com/sportbay-co/image/upload/v1478176359/Favicon/favicon-16x16.png">
      <link rel="manifest" href="https://cloudinary.com/console/media_library#/dialog/raw/upload/Favicon/manifest.json">
      <meta name="msapplication-TileColor" content="#ffffff">
      <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
      <meta name="theme-color" content="#ffffff">
   </head>
  <body data-no-turbolink>

  <% if current_user %>
   <div class="ui sidebar right inverted vertical menu">
    <%= link_to "<i class='user icon'></i> Profile".html_safe, user_path(current_user), class: 'item' %>
    <%= link_to "<i class='bell icon'></i> Notifications".html_safe, activities_path, class: 'item' %>
    <%= link_to "<i class='settings icon'></i> Settings".html_safe, edit_user_path(current_user.username), class: 'item' %>
    <%= link_to "<i class='sign in  icon'></i> Logout".html_safe, destroy_user_session_path, method: :delete, class: 'item' %>
   </div>
  <% end %>
      <div class="pusher">
        <%= render partial: 'layouts/nav' %>
      <% unless current_user %>
        <div class="ui stackable ui tall stacked segment container one column top-header" >
          <div class="padding-settings">
            <h1 class="ui center aligned icon header dash_header" style="color: #fff; font-size: 32px;">
              Where Everyone meet
            </h1>
            <div class="ui stackable center aligned vertically  grid">
            <div class="eight wide  column">
              <h4>An open, friendly and conversational community for everyone</h4>
              <a class="ui large right call-modal labeled blue icon button" style='margin-top: 30px' href="#">
                <i class="right chevron icon"></i>
                Get Started Now
              </a>
              <div>

            </div>
            </div>
          </div>
         </div>
        </div>
    <% end %>
    <div class="ui stackable container three column grid left-menu">
      <%= render :partial => "layouts/app_sidenav" %>
      <div class="nine wide column">
        <%= render :partial => 'layouts/mini_nav' %>
        <%= yield %>
      </div>
        <%= render partial: 'layouts/rightpanel' %>
        <%= render partial: 'layouts/modal' %>
    </div>
    </div>
    <!-- Go to www.addthis.com/dashboard to customize your tools --> <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5102746f4f07e5b2"></script> 
  </body>
</html>
