<!DOCTYPE html>
<html>
<head>
  <title> Sign up | Sign in Overflow</title>
  <%= stylesheet_link_tag    "application", 'ckeditor/ckeditor.js', media: "all", "data-turbolinks-track" => true %>
    <%= stylesheet_link_tag    "application", 'https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css', media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="../assets/js/html5shiv.js"></script>
  <script src="../assets/js/respond.min.js"></script>
  <![endif]-->

  <!-- Favicons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="assets/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="assets/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon-precomposed" href="assets/ico/apple-touch-icon-57-precomposed.png">
  <link rel="shortcut icon" href="assets/ico/favicon.png">


</head>
<body class="login">
  <header class="navbar navbar-inverse navbar-fixed-top bs-docs-na" role="banner">
   <div class="container">
     <div class="nav navbar-left">
       <h3>ONOZOR</h3>
     </div>
   </div>
 </header>

<div class="bg_container">
   <div class="HomeLoggedOutBigSignup">
     <% flash.each do |key, value| %>
                    <div class="<%= flash_class(key) %>">
                      <%= value %>
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    </div>
     <% end %>

             <div class="tagline">
              <h1 class="sitename"> Welcome to Inquire.</h1>
<p class="lead">Experience exicting moments and share ideas with professionals, getting Satisfying  answers to questions in all Categories of life.<br/> Share & Flow</p>
             </div>
           <div class="container">
                 <%= yield %>
           </div>



 <div class="footer devise-footer">
 <nav class="footer text-center"><p><small> © 2015 <span class="sitename">INQUIRE</span> &nbsp <a href="#">About</a>&nbsp <a href="#">Help</a>&nbsp <a href="#">Terms</a>&nbsp <a href="#">Privacy</a>
   </div></div>





</div>
</body>
</html>
