<!DOCTYPE html>
<html>
<head>
  <!-- Required meta tags-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <%= csrf_meta_tags %>

  <!-- Your app title -->
  <title>Login</title>


  <!-- Path to Framework7 Library CSS-->
  <%= stylesheet_link_tag  "/mobile/stylesheets/framework7.css"  %>
  <!-- Path to your custom app styles-->

</head>
<body>

<<!-- Should be a direct child of BODY -->
<div class="login-screen">
  <!-- Default view-page layout -->
  <div class="view">
    <div class="page" data-page="login">
     <%= yield %>
    </div>
  </div>
</div>











<!-- Path to Framework7 Library JS-->
<%= javascript_include_tag   "/mobile/javascripts/framework7.js"  %>
<!-- Path to your app js-->
<%= javascript_include_tag    "/mobile/javascripts/my-app.js"  %>

</body>
</html>
