<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Onozor</title>
      <%= stylesheet_link_tag  'https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.0/semantic.min.css', 'application', media: "all", "data-turbolinks-track" => true %>
      <%= javascript_include_tag  'application', "data-turbolinks-track" => true %>
      <%= csrf_meta_tags %>
      <style type="text/css">
           .grid {
            height: 80% !important;
          }
          .image {
            margin-top: -100px;
          }
          .column {
            max-width: 450px;
          }
    </style>
  </head>
  <body>
  
    <div class="pusher">
    <%= yield %>
  </div>
    <%= render partial: 'layouts/modal' %>
  </body>
</html>
